---
http_interactions:
- request:
    method: post
    uri: https://sandbox.id.nexaas.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e48f64374d0f974fabb5efba340b2a0b"
    body:
      encoding: UTF-8
      string: '{"access_token":"22f48e6fb28546f8cc637b060eb66c83d7579b01d86da3cc74958dcba1df84d3","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1534878931}'
  recorded_at: Tue, 21 Aug 2018 19:15:30 GMT
recorded_with: VCR 2.9.3
