---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ca6ce32524cbc63aca3b45efc54a2634"
    body:
      encoding: UTF-8
      string: '{"access_token":"566b16a08987de6f3cfa68098dd1e33c4041558a3186b58f8a25683248a9eb17","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1533904123}'
  recorded_at: Fri, 10 Aug 2018 12:28:43 GMT
recorded_with: VCR 2.9.3
