---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18b26bbe37bd42cea9149e0ad7b06100"
    body:
      encoding: UTF-8
      string: '{"access_token":"4af9b6ae737f901b4efd5eecad39278f10c1587a91767e168f80ec1c2113ca22","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1534183842}'
  recorded_at: Mon, 13 Aug 2018 18:10:43 GMT
recorded_with: VCR 2.9.3
