---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15bccac15370ad464a1d23eb9bbf1867"
    body:
      encoding: UTF-8
      string: '{"access_token":"0824ff062635dcee0e094464ada00cd9fb298927965b53c488bbc35e736a8bfe","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1533922535}'
  recorded_at: Fri, 10 Aug 2018 17:35:34 GMT
recorded_with: VCR 2.9.3
