---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b52f974e0f94aa485c7170ef7b6a3164"
    body:
      encoding: UTF-8
      string: '{"access_token":"3719b61687912250393e626b80468c500b1d83d8d32da20b4a467260cffe05f1","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1533845927}'
  recorded_at: Thu, 09 Aug 2018 20:18:47 GMT
recorded_with: VCR 2.9.3
