---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c40b9e5a388c41b2833c1e731d64187e"
    body:
      encoding: UTF-8
      string: '{"access_token":"4187b50a75ca0c76c326301b1c95837c329d9820ee1e3ce09a2453edd644285b","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1534192212}'
  recorded_at: Mon, 13 Aug 2018 20:30:12 GMT
recorded_with: VCR 2.9.3
