*.gem
*.rbc
.bundle
.byebug_history
.config
.DS_Store
.envrc
.env
.rspec_persistence
.ruby-version
.rvmrc
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
