---
http_interactions:
- request:
    method: post
    uri: http://sandbox.app.passaporteweb.com.br/notifications/api/
    body:
      encoding: UTF-8
      string: ! '{"body":"feliz aniversário!","target_url":"http://pittlandia.net","scheduled_to":"2013-04-19
        10:50:19"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Throttle:
      - status=SUCCESS; next=0.20 sec
    body:
      encoding: US-ASCII
      string: ! '{"field_errors": {"destination": ["Este campo \u00e9 obrigat\u00f3rio."]}}'
  recorded_at: Thu, 04 Apr 2013 03:33:07 GMT
recorded_with: VCR 2.4.0
