---
http_interactions:
- request:
    method: post
    uri: http://sandbox.app.passaporteweb.com.br/notifications/api/
    body:
      encoding: UTF-8
      string: ! '{"body":"novinha","destination":"a5868d14-6529-477a-9c6b-a09dd42a7cd2"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      Location:
      - http://sandbox.app.passaporteweb.com.br/notifications/api/649fdd61-9dab-4bad-80c8-c58de9037b97/
      X-Throttle:
      - status=SUCCESS; next=0.20 sec
    body:
      encoding: US-ASCII
      string: ! '{"body": "novinha", "target_url": "", "uuid": "649fdd61-9dab-4bad-80c8-c58de9037b97",
        "absolute_url": "/notifications/api/649fdd61-9dab-4bad-80c8-c58de9037b97/",
        "scheduled_to": "2013-04-04 15:32:24", "sender_data": {"name": "Identity Client",
        "slug": "identity_client"}, "read_at": null, "notification_type": null}'
  recorded_at: Thu, 04 Apr 2013 18:32:25 GMT
- request:
    method: delete
    uri: http://sandbox.app.passaporteweb.com.br/notifications/api/649fdd61-9dab-4bad-80c8-c58de9037b97/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Allow:
      - PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '"Only scheduled notifications can be deleted via API"'
  recorded_at: Thu, 04 Apr 2013 18:32:25 GMT
recorded_with: VCR 2.4.0
