---
http_interactions:
- request:
    method: post
    uri: https://sandbox.id.nexaas.com/api/v1/sign_up
    body:
      encoding: UTF-8
      string: '{"invited":"demurtas@mailinator.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 6cf4f0b92293cdef5291b1d3f6509996e0caf5b4c0ad01a88c7cec48a2c6daba
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d045b7d066b6212cf03bcb8dee1e258"
    body:
      encoding: UTF-8
      string: '{"id":"7435b7ac-0171-4306-b01b-593eb6aef500","email":"demurtas@mailinator.com","requester":"57bb5938-d0c5-439a-9986-e5c565124beb"}'
  recorded_at: Tue, 21 Aug 2018 19:15:40 GMT
recorded_with: VCR 2.9.3
