---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/api/v1/sign_up
    body:
      encoding: UTF-8
      string: '{"invited":"demurtas@mailinator.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 3a4163fd0000aa30790e08767d7f7a5c478862eb4192aceaae7f4933a43268b3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"270bb73ec3f4288cd55d31e38d2177c6"
    body:
      encoding: UTF-8
      string: '{"id":"d8e03dea-e859-4442-a06d-c11405d5e807","email":"demurtas@mailinator.com","requester":"57bb5938-d0c5-439a-9986-e5c565124beb"}'
  recorded_at: Fri, 10 Aug 2018 12:28:51 GMT
recorded_with: VCR 2.9.3
