---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/api/v1/sign_up
    body:
      encoding: UTF-8
      string: '{"invited":"demurtas@mailinator.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 80f401056b3493cf9dee19f74d1d6fdcf614cb4761563118d1b39b7108baad87
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eefb3bb5c520cd24c45477ff1b878f57"
    body:
      encoding: UTF-8
      string: '{"id":"d54d41c0-4d0f-4270-97fa-140b076f5c34","email":"demurtas@mailinator.com","requester":"57bb5938-d0c5-439a-9986-e5c565124beb"}'
  recorded_at: Mon, 13 Aug 2018 18:11:04 GMT
recorded_with: VCR 2.9.3
