---
http_interactions:
- request:
    method: post
    uri: http://sandbox.app.passaporteweb.com.br/organizations/api/identities/5e32f927-c4ab-404e-a91c-b2abc05afb56/accounts/
    body:
      encoding: UTF-8
      string: ! '{"plan_slug":"passaporteweb-client-ruby","name":"ContaPessoal5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      Location:
      - http://sandbox.app.passaporteweb.com.br/organizations/api/accounts/427efc99-759b-4a0e-a600-315f653ab5e9/
    body:
      encoding: US-ASCII
      string: ! '{"membership_details_url": "/organizations/api/accounts/427efc99-759b-4a0e-a600-315f653ab5e9/members/5e32f927-c4ab-404e-a91c-b2abc05afb56/",
        "plan_slug": "passaporteweb-client-ruby", "roles": ["owner"], "url": "/organizations/api/accounts/427efc99-759b-4a0e-a600-315f653ab5e9/",
        "expiration": null, "service_data": {"name": "Identity Client", "slug": "identity_client"},
        "account_data": {"name": "ContaPessoal5", "uuid": "427efc99-759b-4a0e-a600-315f653ab5e9"},
        "add_member_url": "/organizations/api/accounts/427efc99-759b-4a0e-a600-315f653ab5e9/members/"}'
  recorded_at: Thu, 28 Mar 2013 21:16:06 GMT
recorded_with: VCR 2.4.0
