---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"871bcafc07ba0b3eeb71d75883e0afe6"
    body:
      encoding: UTF-8
      string: '{"access_token":"c90f07b0708fe1864f62c5d71f7e6f906ac0b478bc8e5b070d7fd998f3080ec1","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1533922544}'
  recorded_at: Fri, 10 Aug 2018 17:35:43 GMT
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/api/v1/sign_up
    body:
      encoding: UTF-8
      string: '{"invited":"demurtas@mailinator.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer c90f07b0708fe1864f62c5d71f7e6f906ac0b478bc8e5b070d7fd998f3080ec1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f60f4edaee5100aaa04c99901967a370"
    body:
      encoding: UTF-8
      string: '{"id":"d8e03dea-e859-4442-a06d-c11405d5e807","email":"demurtas@mailinator.com","requester":null}'
  recorded_at: Fri, 10 Aug 2018 17:35:44 GMT
recorded_with: VCR 2.9.3
