---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b7bf2d73eea97721e49f0491bd69ff5"
    body:
      encoding: UTF-8
      string: '{"access_token":"a959f6f2caf5d078cfaaf60dd32a3bd358bb81f32121f38d1ae8b85504673a9d","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1534192220}'
  recorded_at: Mon, 13 Aug 2018 20:30:20 GMT
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/api/v1/sign_up
    body:
      encoding: UTF-8
      string: '{"invited":"demurtas@mailinator.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer a959f6f2caf5d078cfaaf60dd32a3bd358bb81f32121f38d1ae8b85504673a9d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ed5147c554a8139f288875111fa84458"
    body:
      encoding: UTF-8
      string: '{"id":"d54d41c0-4d0f-4270-97fa-140b076f5c34","email":"demurtas@mailinator.com","requester":null}'
  recorded_at: Mon, 13 Aug 2018 20:30:21 GMT
recorded_with: VCR 2.9.3
