---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7f3570659367b99e210b38b650b06054"
    body:
      encoding: UTF-8
      string: '{"access_token":"b39eba4c2ef036d0a74a99c56e220a18be2c2de3e28b38c69c351ca13a3f0c9f","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1533904129}'
  recorded_at: Fri, 10 Aug 2018 12:28:49 GMT
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/api/v1/sign_up
    body:
      encoding: UTF-8
      string: '{"invited":"demurtas@mailinator.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer b39eba4c2ef036d0a74a99c56e220a18be2c2de3e28b38c69c351ca13a3f0c9f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f60f4edaee5100aaa04c99901967a370"
    body:
      encoding: UTF-8
      string: '{"id":"d8e03dea-e859-4442-a06d-c11405d5e807","email":"demurtas@mailinator.com","requester":null}'
  recorded_at: Fri, 10 Aug 2018 12:28:50 GMT
recorded_with: VCR 2.9.3
