---
http_interactions:
- request:
    method: post
    uri: https://sandbox.id.nexaas.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cca2790160d81e73bbb5a7a991e52794"
    body:
      encoding: UTF-8
      string: '{"access_token":"78e6cc73f6b9a2011b1ea019d3bb8335ecca4880c66a3b06d54e3e9461e63113","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1534878939}'
  recorded_at: Tue, 21 Aug 2018 19:15:37 GMT
- request:
    method: post
    uri: https://sandbox.id.nexaas.com/api/v1/sign_up
    body:
      encoding: UTF-8
      string: '{"invited":"demurtas@mailinator.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 78e6cc73f6b9a2011b1ea019d3bb8335ecca4880c66a3b06d54e3e9461e63113
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e1d3f63a5bcfb570e6c33e6b59b299de"
    body:
      encoding: UTF-8
      string: '{"id":"7435b7ac-0171-4306-b01b-593eb6aef500","email":"demurtas@mailinator.com","requester":null}'
  recorded_at: Tue, 21 Aug 2018 19:15:38 GMT
recorded_with: VCR 2.9.3
