---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e654976e44b3680d4ff55241434086c9"
    body:
      encoding: UTF-8
      string: '{"access_token":"b2748e6d931678d6c852bcbbe632bd432f0886bdea739f6deac4e218586d9cd5","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1533851896}'
  recorded_at: Thu, 09 Aug 2018 21:58:16 GMT
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/api/v1/sign_up
    body:
      encoding: UTF-8
      string: '{"invited":"demurtas@mailinator.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer b2748e6d931678d6c852bcbbe632bd432f0886bdea739f6deac4e218586d9cd5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f60f4edaee5100aaa04c99901967a370"
    body:
      encoding: UTF-8
      string: '{"id":"d8e03dea-e859-4442-a06d-c11405d5e807","email":"demurtas@mailinator.com","requester":null}'
  recorded_at: Thu, 09 Aug 2018 21:58:17 GMT
recorded_with: VCR 2.9.3
