---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56f020ed65473ab8a40742357ea50b1f"
    body:
      encoding: UTF-8
      string: '{"access_token":"498e146cc20644d5cdd252f7eb48b1146b19cf3bef8833066ef139ee8ecd428a","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1534183861}'
  recorded_at: Mon, 13 Aug 2018 18:11:01 GMT
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/api/v1/sign_up
    body:
      encoding: UTF-8
      string: '{"invited":"demurtas@mailinator.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 498e146cc20644d5cdd252f7eb48b1146b19cf3bef8833066ef139ee8ecd428a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ed5147c554a8139f288875111fa84458"
    body:
      encoding: UTF-8
      string: '{"id":"d54d41c0-4d0f-4270-97fa-140b076f5c34","email":"demurtas@mailinator.com","requester":null}'
  recorded_at: Mon, 13 Aug 2018 18:11:02 GMT
recorded_with: VCR 2.9.3
