---
http_interactions:
- request:
    method: get
    uri: https://sandbox.id.nexaas.com/api/v1/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 6cf4f0b92293cdef5291b1d3f6509996e0caf5b4c0ad01a88c7cec48a2c6daba
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3fbb371964cbcbfe051883a056378256"
    body:
      encoding: UTF-8
      string: '{"id":"57bb5938-d0c5-439a-9986-e5c565124beb","name":"PassaporteWeb
        API Test","nickname":"pw.api.test","email":"luiz.buiatte+pw.api.test@nexaas.com","birth":"2018-08-09","gender":"other","language":"en","picture":"https://sandbox.id.nexaas.com/images/avatar/57bb5938-d0c5-439a-9986-e5c565124beb?size=140","timezone":"America/Sao_Paulo","country":"BR","city":"","bio":""}'
  recorded_at: Tue, 21 Aug 2018 19:15:34 GMT
recorded_with: VCR 2.9.3
