---
http_interactions:
- request:
    method: get
    uri: https://sandbox.v2.passaporteweb.com.br/api/v1/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 80f401056b3493cf9dee19f74d1d6fdcf614cb4761563118d1b39b7108baad87
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"538d551b7cecf525d6d2900743b41248"
    body:
      encoding: UTF-8
      string: '{"id":"57bb5938-d0c5-439a-9986-e5c565124beb","name":"PassaporteWeb
        API Test","nickname":"pw.api.test","email":"luiz.buiatte+pw.api.test@nexaas.com","birth":"2018-08-09","gender":"other","language":"en","picture":"https://sandbox.v2.passaporteweb.com.br/images/avatar/57bb5938-d0c5-439a-9986-e5c565124beb?size=140","timezone":"America/Sao_Paulo","country":"BR","city":"","bio":""}'
  recorded_at: Mon, 13 Aug 2018 18:10:49 GMT
recorded_with: VCR 2.9.3
