---
http_interactions:
- request:
    method: get
    uri: https://sandbox.v2.passaporteweb.com.br/api/v1/profile/professional_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer af086644fd91bf2f2365110f74ff02187fe3fd79686312f702af7f45d988154b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f10313b66b732f80f0108da5d8a4e388"
    body:
      encoding: UTF-8
      string: '{"id":"57bb5938-d0c5-439a-9986-e5c565124beb","profession":"Systems
        Integrator","company":"Nexaas","position":"API"}'
  recorded_at: Mon, 13 Aug 2018 20:30:18 GMT
recorded_with: VCR 2.9.3
