---
http_interactions:
- request:
    method: get
    uri: https://sandbox.v2.passaporteweb.com.br/api/v1/profile/professional_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 80f401056b3493cf9dee19f74d1d6fdcf614cb4761563118d1b39b7108baad87
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f10313b66b732f80f0108da5d8a4e388"
    body:
      encoding: UTF-8
      string: '{"id":"57bb5938-d0c5-439a-9986-e5c565124beb","profession":"Systems
        Integrator","company":"Nexaas","position":"API"}'
  recorded_at: Mon, 13 Aug 2018 18:10:50 GMT
recorded_with: VCR 2.9.3
