---
http_interactions:
- request:
    method: get
    uri: https://sandbox.v2.passaporteweb.com.br/api/v1/profile/professional_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 4aac465f25df54637d4a50bb9e44c17ec52e4a761fd6a68bfe185681f54b65e9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f10313b66b732f80f0108da5d8a4e388"
    body:
      encoding: UTF-8
      string: '{"id":"57bb5938-d0c5-439a-9986-e5c565124beb","profession":"Systems
        Integrator","company":"Nexaas","position":"API"}'
  recorded_at: Fri, 10 Aug 2018 17:35:40 GMT
recorded_with: VCR 2.9.3
