---
http_interactions:
- request:
    method: get
    uri: https://sandbox.id.nexaas.com/api/v1/profile/professional_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 6cf4f0b92293cdef5291b1d3f6509996e0caf5b4c0ad01a88c7cec48a2c6daba
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f10313b66b732f80f0108da5d8a4e388"
    body:
      encoding: UTF-8
      string: '{"id":"57bb5938-d0c5-439a-9986-e5c565124beb","profession":"Systems
        Integrator","company":"Nexaas","position":"API"}'
  recorded_at: Tue, 21 Aug 2018 19:15:35 GMT
recorded_with: VCR 2.9.3
