---
http_interactions:
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/oauth/token
    body:
      encoding: UTF-8
      string: client_id=QMKAZVAZ6NBR3IO2MCEHOGKVCY&client_secret=HXKQYGAQ4JHR5HR73SKOQ5NI6E&grant_type=client_credentials&scope=invite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3dbb056ca6b96b2e5f3ed37340f33f5f"
    body:
      encoding: UTF-8
      string: '{"access_token":"2702d249587b0020af666f305831125e5d50cd14508fc110a0e7ed9f7989ae30","token_type":"bearer","expires_in":7200,"scope":"invite","created_at":1533845937}'
  recorded_at: Thu, 09 Aug 2018 20:18:57 GMT
- request:
    method: post
    uri: https://sandbox.v2.passaporteweb.com.br/api/v1/sign_up
    body:
      encoding: UTF-8
      string: '{"invited":"demurtas@mailinator.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 2702d249587b0020af666f305831125e5d50cd14508fc110a0e7ed9f7989ae30
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f60f4edaee5100aaa04c99901967a370"
    body:
      encoding: UTF-8
      string: '{"id":"d8e03dea-e859-4442-a06d-c11405d5e807","email":"demurtas@mailinator.com","requester":null}'
  recorded_at: Thu, 09 Aug 2018 20:18:58 GMT
recorded_with: VCR 2.9.3
